body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background:rgb(16, 25, 27);
}

#title{
    font-size: 65px;
    color: white;
}

.question{
    width: 800px;
    padding: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(64, 115, 133, 0.822);
    text-align: center;
}

.question input[type="text"]{
    font-size: 20px;
    border: 0;
    background:none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid;
    padding: 14px 10px;
    width: 400px;
    outline: none;
    color: white;
}

.question input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    transition: 0.25s;
    cursor: pointer;
}

.question input[type = "submit"]:hover{
    background:blue;
}